 <% @chatroom.messages.each do |message| %>
  <% if message.user == current_user %>
    <% justify = "end" %>
    <% send = "send" %>
  <% else %>
    <% justify = "start" %>
    <% send = "receive" %>
  <% end %>

  <% if message.photos.attached? %>
    <div class="justify-content-<%=justify%> link-msg">
      <%= link_to message_path(message) do %>
        <div class="card mb-4 card-img-<%=send%>" style="width: 14rem;">
          <%= cl_image_tag message.photos.first.key, class:"card-img-top img-#{send}"%>
          <div class="card-body">
            <p class="card-text"><%= message.content %></p>
          </div>
          <span class="black name-position-<%=send%>"><%= message.user.username %></span>
        </div>
      <% end %>
      </div>
  <% else %>
    <div class="justify-content-<%=justify%> mb-4">
      <div class="msg-content-<%=send%>">
        <span class="black"><%= message.content %></span>
        <span class="black name-position-<%=send%>"><%= message.user.username %></span>
      </div>
    </div>
  <% end %>
<% end %>
