<% if !message.read %>
  <% message_service = UserInMessageRadius.new(current_user, @ip, message) %>
  <% can_view = message_service.perform %>
<% end %>
<% if message.user == current_user %>
  <% justify = "end" %>
  <% send = "send" %>
<% else %>
  <% justify = "start" %>
  <% send = "receive" %>
<% end %>

<% if can_view || message.user == current_user || message.read%>
  <% if message.photo.attached? %>
    <div class="justify-content-<%=justify%> link-msg">
      <%= link_to message_path(message) do %>
        <div class="card mb-4 card-img-<%=send%>" style="width: 14rem;">
          <%= cl_image_tag message.photo.key, class:"card-img-top img-#{send}"%>
          <div class="card-body">
            <p class="card-text"><%= message.content %></p>
          </div>
          <span class="name-position-<%=send%>"><%= message.user.username %></span>
        </div>
      <% end %>
      </div>
  <% else %>
    <div class="justify-content-<%=justify%> mb-4">
      <div class="msg-content-<%=send%>">
        <span class="black"><%= message.content %></span>
        <span class="name-position-<%=send%>"><%= message.user.username %></span>
      </div>
    </div>
  <% end  %>
<% else %>
  <div class="justify-content-start mb-4">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New Spot - Go here to view contents</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div id="map"
                style="width: 100%; height: 500px;"
                data-markers="<%= [{ lat: message.latitude, lng: message.longitude}].to_json %>"
                data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="msg-content-receive">
      <span class="black" data-toggle="modal" data-target="#exampleModal">You have a new spot.</span>
      <span class="name-position-receive"><%= message.user.username %></span>
    </div>
  </div>
<% end %>




