<div class="container-form margin-from-navbar">
  <div class="form-container mb-5">
    <%= simple_form_for @message, innerHTML: { class: "d-flex"}  do |f| %>

        <%= simple_fields_for @chatroom do |form| %>
          <%= form.select :friend2, options_for_select(format_friend_list(current_user)) %>
        <% end %>
        <%= f.input :content, wrapper_html: { class: 'text-area-icon' },  label: false%>

        <div class="image-upload-icon mt-2 mb-2">
          <label for="file-input">
            <i class="fas fa-plus icon-fas rnd-fas"></i>
          </label>
        <%= f.file_field :photos, multiple: true, id: "file-input"%>
      </div>

        <%= f.hidden_field :longitude %>
        <%= f.hidden_field :latitude %>
        <div class="d-flex">
          <%= f.submit "Create spot", class: "btn-message btn btn-primary rounded-pill w-100 mr-4" %>
          <%= link_to "Go back", root_path, class: "btn-message btn btn-success rounded-pill w-100"  %>
        </div>
    <% end %>
  </div>
</div>
