<div class="background">
  <div class="container-form justify-content-center">
    <div class="form-container mb-5">
      <%= simple_form_for @message, innerHTML: { class: "d-flex"}  do |f| %>

          <%= simple_fields_for @chatroom do |form| %>
            <%= form.select :friend2, options_for_select(format_friend_list(current_user)) %>
          <% end %>
          <%= f.input :content, wrapper_html: { class: 'text-area-icon' },  label: false%>

            <!-- <div class="image-upload-icon mt-2 mb-2">
            <label for="file-input">
              <i class="fas fa-plus icon-fas rnd-fas"></i>
            </label> -->
          <%= f.input :image, :as => :file, :input_html => {:onchange => "document.getElementById('uploaded-img').src = window.URL.createObjectURL(this.files[0])"}%>
          <img id="uploaded-img" alt="Your image" with="100px" height="100px">
        </div>
          <div class="d-flex">
            <%= link_to "Cancel", root_path, class: "btn-main btn btn-success rounded-pill w-100 mr-4"  %>
            <%= f.submit "Create spot", class: "btn-main btn btn-primary rounded-pill w-100" %>
          </div>
      <% end %>

      <div class="margin-from-navbar">
        <div id="map"
          style="width: 100%; height: 300px; border-radius: 15px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
</div>
