<div class="form-container margin-from-navbar container">
  <%= simple_form_for @message do |f| %>

      <%= simple_fields_for @chatroom do |form| %>
        <%= form.select :friend2, options_for_select(format_friend_list(current_user)) %>
      <% end %>
      <%= f.input :content, label: false%>
      <%= f.file_field :photos, multiple: true %>
      <%= f.hidden_field :longitude %>
      <%= f.hidden_field :latitude %>
      <div class="d-flex">
        <%= f.submit "Create spot", class: "btn btn-primary rounded w-100 mr-4" %>
        <%= link_to "Go back", root_path, class: "btn btn-success rounded w-100"  %>
      </div>
  <% end %>
</div>
