<div class="form-container">
  <h1>New Spot</h1>
  <%= simple_form_for @message do |f| %>
    <%= simple_fields_for @chatroom do |form| %>
      <%= form.select :friend2, options_for_select(format_friend_list(current_user)) %>
    <% end %>
    <%= f.input :content %>
    <%#= f.input :photos, as: :file, :multiple => true %>
    <%= f.file_field :photos, multiple: true %>
    <div class="d-flex">
      <%= f.submit "Create spot", class: "btn btn-primary rounded w-100 mr-4" %>
      <%= link_to "Go back", root_path, class: "btn btn-success rounded w-100"  %>
    </div>
    <% end %>
</div>
