<h4> <%= @message.content %> </h4>
<% @message.photos.each do |photo| %>
  <%= cl_image_tag photo.key %>
<% end %>


<li class="list-group-item">
      <%= @message.content %>
      <%= link_to "Remove",
                  message_path(@message),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
</li>

<div class="map-container pr-3">
    <div id="map"
        style="width: 600px; height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</div>