
<div class="chat-container chat-background" style="background-image: url('https://images.unsplash.com/photo-1606235268286-cfc161fed099?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9');">
  <div class="background-blur">
    <ul class="list-unstyled margin-from-navbar">

      <% @chatrooms.each do |chatroom| %>

      <li class="chat-card">
        <%= link_to chatroom_path(chatroom), class:"link-unstyled" do %>
        <div class="d-flex p-3">
            <% if current_user == chatroom.friend1 && chatroom.friend2.photo.attached? %>
              <%= cl_image_tag chatroom.friend2.photo.key, class: "avatar" %>
            <% elsif current_user == chatroom.friend2 && chatroom.friend1.photo.attached? %>
              <%= cl_image_tag chatroom.friend1.photo.key, class: "avatar" %>
            <% else %>
                <img class="avatar" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToplStyx8pu0DsUkR-zSI6hAAN-vzcrZF0HA&usqp=CAU" alt="">
            <% end %>
          <div class="user-details ml-3">
            <%  if current_user == chatroom.friend1  %>
            <p><%= chatroom.friend2.username %></p>
            <% else %>
            <p><%= chatroom.friend1.username %></p>
            <% end %>
            <h4>📍 Spotted here</h4>
          </div>
        </div>
      </li>
    <!-- <div class="underline"></div> -->
      <% end %>

      <% end %>

    </ul>
  </div>
  <%= render 'shared/new_message_button' %>
</div>

<!-- https://images.unsplash.com/photo-1606290979721-07c4dd5431a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9' -->
