  <div class="text-container">
    <div class="header d-flex margin-from-navbar">
      <img class="avatar-medium ml-3 mt-3 mb-3" src="https://images.unsplash.com/photo-1606248174040-df0429d73afa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" alt="">
     <h4 class="ml-4 mt-3 mb-2" style="color: white;"><%=@chatroom.recipient(current_user)%></h4>
    </div>
    <div class="text-body" data-chatroom-id="<%= @chatroom.id %>">


        <% @chatroom.messages.each do |message| %>
          <%= render 'messages/message', message: message %>
        <% end %>



    </div>
    <div class="new-message">

      <%= simple_form_for(@message, html: { class: "message-new"}) do |f| %>
        <div class="image-upload">
          <label for="file-input">
            <i class="fas fa-paperclip icon-fas"></i>
          </label>
          <%= f.file_field :photos, multiple: true, id: "file-input" %>
        </div>

        <%= f.input :content, label: false, wrapper_html: { class: 'text-area-input' } ,input_html: { class: 'text-input' } %>
        <%= hidden_field_tag :friend2, @chatroom.friend2 == current_user ? @chatroom.friend1.id : @chatroom.friend2.id %>
        <%= hidden_field_tag :chatroom_id, @chatroom.id %>
        <%= f.hidden_field :longitude%>
        <%= f.hidden_field :latitude%>
        <%= f.submit "send" %>
      <!--   <div class="submit">
          <label for="submit-btn">
            <i class="fas fa-paper-plane icon-fas" id="btn"></i>
          </label>


        </div> -->
      <% end %>

    </div>
  </div>

