<div class="background">
  <div class="header header-index d-flex">
    <div class="img-icon-separate">
      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, class: "avatar-sm" %>
      <% else %>
        <img class="avatar-sm" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToplStyx8pu0DsUkR-zSI6hAAN-vzcrZF0HA&usqp=CAU" alt="">
      <% end %>
      <i class="fas fa-search white icon-search"></i>
    </div>
    <h4 style="color: lightgoldenrodyellow;" class="mt-3 caps-title">Find Friends</h4>
  </div>
  <div class="chat-container chat-background pt-2">
      <div class="friend-wrap">
        <% if current_user.requested_friends.empty? %>
          <p class="text-left" style= "color:lightgoldenrodyellow">Nothing yet, time to add some friends!</p>
        <% else %>
          <% current_user.requested_friends.each do |friend| %>
            <div class="d-flex friend-request">
              <% if friend.photo.attached? %>
                <%= cl_image_tag friend.photo.key, class: "avatar-sm" %>
              <% else %>
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToplStyx8pu0DsUkR-zSI6hAAN-vzcrZF0HA&usqp=CAU" alt="" class="avatar-sm">
              <% end %>
              <!-- <img src="https://images.unsplash.com/photo-1582214448344-4cb7e35711f7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80" alt="" class="avatar"> -->
              <span class="ml-3 text-big"><%= friend.username %></span class="ml-3">
              <div class="d-flex friend-icons">
<!--                 <i class="fas fa-check mr-3 accept"><%# current_user.accept_request(friend) %></i>
                <i class="fas fa-times reject"><%# current_user.decline_request(friend) %></i> -->
                <%= link_to "Accept", accept_path(user_id: friend.id), method: :put, class:"btn btn-main-dark btn-primary" %>
                
                <%= link_to "Reject", reject_path(user_id: friend.id), method: :put, class:"btn btn-main-dark btn-primary" %>
            
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
     <ul class="list-unstyled">
        <% @users.each do |user| %>
          <li class="chat-card" style="padding: 0 !important;">
            <div class="d-flex profile-box p-3">
              <div class="profile-details">
                <% if user.photo.attached? %>
                  <%= cl_image_tag user.photo.key, class: "avatar-sm" %>
                <% else %>
                    <img class="avatar-sm" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToplStyx8pu0DsUkR-zSI6hAAN-vzcrZF0HA&usqp=CAU" alt="">
                <% end %>
                <p class="ml-3 bold-large-text" style="color: black !important"><%= user.username %></p>
              </div>
              <% if current_user.pending_friends.include?(user) %>
                <div>
                  <%= link_to "Pending", add_friend_path(user_id: user.id), method: :put, class:"btn btn-main-dark btn-primary disabled" %>
                </div>
              <% else %>
                <div>
                  <%= link_to "Add friend", add_friend_path(user_id: user.id), method: :put, class:"btn btn-main-dark btn-primary" %>
                </div>
              <% end %>
            </div>
          </li>
      <!-- <div class="underline"></div> -->
        <% end %>
      </ul>

    </div>
    <%= render 'shared/new_message_button' %>
</div>

